<h1>Create New Product</h1>

<form method="POST" action="/products">
  <input type="text" name="product[name]" placeholder="thing" value="<%= @product.name %>"/>
  <input type="text" name="product[description]" placeholder="thing description" value="<%= @product.description %>"/>
  <input type="text" name="product[price]" placeholder="9.99" value="<%= @product.price  %>" />
  <input type="submit" />
</form>